body{
    background-color: black;
}
#header{
    font: normal 25pt Arial;
    color: white;
    text-align: right;
}

#profile_picture{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    border: 5px solid white;
}