.button__CV {
    margin-top: 20px;
    padding: 4.8% 8%;
    color: white;
    font-size: clamp(10px, 4vw, 17px);
    background-color: #009E66;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.button__CV:hover {
    background-color: #00613f;
}

@media (max-width: 600px) {
    .button__CV {
        padding: 16px 22px;
    }
}