.home {
    padding-top: 80px;
    height: 600px;
    display: flex;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.home__title, .home__name, .home__ocupation{
    margin: 12px 0px;
}

.home__content {
    color: white;
    padding-left: 80px;
}

.home__title {
    font-size: 85px;
    font-weight: bold;
}

.home__name {
    font-size: clamp(23px, 5vw, 37px);
    text-indent: 60px;
}

.home__ocupation {
    font-size: clamp(18px, 4vw, 25px);
    padding-top:  10px;
}

@media (min-width: 600px) {
    .home__title {
        font-size: 100px;
    }
}

@media (max-width: 600px) {
    .home__name {
        text-indent: 0;
    }

    .home__content {
        color: white;
        padding-left: 25px;
    }
}
