.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 80px;
    font-size: 17px;
    background-color: #111111c7; 
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 400ms ease;
}

.header__image {
    width: 100%;
    max-width: 100px;
}

.menu__icon {
    color: white;
    font-size: 30px;
}

@media (max-width: 750px) {
    .header {
        justify-content: space-between;
        position: relative;
        padding-left: 0;
        align-content: center;
        margin: auto;
        padding-right: 20px;
        background-color: #11111111;
    }
}

